<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            KOTLIN
        </div>
        <div class="progress">
            <span class="yellow" style="width: 40%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            ANDROID
        </div>
        <div class="progress">
            <span class="green" style="width: 70%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            JAVA
        </div>
        <div class="progress">
            <span class="blue" style="width: 82%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            GIT
        </div>
        <div class="progress">
            <span class="red" style="width: 65%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            GO
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 10%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            JAVASCRIPT
        </div>
        <div class="progress">
            <span class="grey" style="width: 60%;"></span>
        </div>
    </div>
</section>
